{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">


<main class="main-content">
    <div class="container">
        <div class="form-header-home">
            <div class="home-column">
                <h2 class="active">Bienvenue sur le site de LitREVU</h2>
                <p>Notre nouveau site web permet de demander ou publier des critiques de livres ou d’articles.</p>
                <p>Il se compose de <strong>trois cas d’utilisation principaux </strong>: </p>
                <ol>
                    <li>La publication des critiques de livres ou d’articles ;</li> 
                    <li>La demande des critiques sur un livre ou sur un article particulier ;</li> 
                    <li>La recherche d’articles et de livres intéressants à lire, en se basant sur les critiques des autres.</li> 
                </ol>
                <p>Vous pouvez également suivre d'autres utilisateurs du site, afin de voir leurs demandes de critiques et y répondre.</p>
                <p></p>
                <p><strong>Bonne visite ! </strong> </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}