{% extends 'base_menu.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="wrapper">
        <!-- Boîte de Création de Compte -->
        <div class="form-container">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="../static/images/logo.png" id="logo" alt="logo_connexion" />
                </div>
                <h2 class="active"> Déconnexion </h2>
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
                    <input type="submit" class="fadeIn fourth" value="Déconnexion">
                    </div>
                </form>
            </div>
        </div>
    </div>        
</main>
                </div>
            </div>
        </div>
    </div>        
</main>
{% endblock %}