
{% extends 'base_log.html' %}

{% load static %}
{% block content %}

<link href="{% static 'css/base.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="wrapper">
        <!-- Boîte de Création de Compte -->
        <div class="form-container">
            <div class="form-body">
                <div class="empty-column-signup"></div>
                <div class="register-column-signup">
                    <div id="formContent">
                        <div class="fadeIn first">
                            <img src="../static/images/logo.png" id="logo" alt="logo_connexion" />
                        </div>
                            <form method="post" action="{% url 'signup' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="fadeIn third">
                                        {{ form.username.label_tag }}
                                        {{ form.username }}
                                        {% for error in form.username.errors %}
                                            <p class="help-text">{{ error }}</p>
                                        {% endfor %}
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {% for error in form.email.errors %}
                                            <p class="help-text">{{ error }}</p>
                                        {% endfor %}
                                        {{ form.password1.label_tag }}
                                        {{ form.password1 }}
                                        {% for error in form.password1.errors %}
                                            <p class="help-text">{{ error }}</p>
                                        {% endfor %}
                                        {{ form.password2.label_tag }}
                                        {{ form.password2 }}
                                        {% for error in form.password2.errors %}
                                            <p class="help-text">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    <input type="submit" class="fadeIn fourth" value="Créer un compte">
                                </div>
                            </form>
                    </div>
                </div>
                <div class="empty-column-signup"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}