{% extends 'base_log.html' %}
{% block content %}
<script src="../static/input-hover.js"></script>
<main class="main-content">
    <div class="container">
        <div class="form-body">
            <!-- 3 colonnes -->
            <div class="register-column">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img src="../static/images/logo.png" id="logo" alt="logo_connexion" />
                    </div>
                    <div class="fadeIn second">
                    <h2 class="active"> Inscrivez-vous maintenant</h2>
                    <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                    </div>
                    <input type="submit" class="fadeIn fourth" value="Créer un compte">
                    </div>
                    </form>
                </div>
            </div>
            <div class="empty-column">
                <!-- Colonne vide -->
            </div>
            <div class="login-column">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img src="../static/images/logo.png" id="logo" alt="logo_connexion" />
                    </div>
                    <div class="fadeIn second">
                    <h2 class="active"> Se connecter </h2>
                    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="fadeIn third">
                                <label for="username">Nom d'utilisateur :</label>
                                <input type="text" id="username" name="username" autocomplete="off" required>
                                <p class="help-text">Ce champ est obligatoire.</p>
                                <label for="password">Mot de passe :</label>
                                <input type="password" id="password" name="password" autocomplete="off" required>
                                <p class="help-text">Ce champ est obligatoire.</p>
                            </div>
                            <input type="submit" class="fadeIn fourth" value="Se connecter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
