
{% extends 'base_log.html' %}


{% block content %}

<script src="input-hover.js"></script>
<main class="main-content">
    <div class="wrapper">
        <!-- Boîte de Création de Compte -->
        <div class="form-container">
            <div class="form-body">
                <div class="empty-column-signup"></div>
                <div class="register-column-signup">
                    <div id="formContent">
                        <div class="fadeIn first">
                            <img src="../static/images/logo.png" id="logo" alt="logo_connexion" />
                        </div>
                            <form method="post" action="{% url 'home' %}">
                                <div class="form-group">
                                    <div class="fadeIn second">
                                {% csrf_token %}
                                        <label for="id_username">Nom d'utilisateur :</label>
                                        <input type="text" name="username" id="id_username" required>
                                        <p class="help-text">Ce champ est obligatoire. Attention aux Majuscules/minuscule</p> 
                                        <label for="id_email">Email :</label>
                                        <input type="email" name="email" id="id_email" required>
                                        <p class="help-text">Ce champ est obligatoire.</p> 
                                        <label for="id_password1">Mot de passe :</label>
                                        <input type="password" name="password1" id="id_password1" required>
                                        <p class="help-text">Le mot de passe doit contenir au moins 8 caractères avec au moins un caractère numérique"
                                            " et un caractère spécial.</p> 
                                        <label for="id_password2">Confirmation du mot de passe :</label>
                                        <input type="password" name="password2" id="id_password2" required>
                                        <p class="help-text">Le mot de passe doit être identique au précédent.</p>
                                    </div> 
                                    <input type="submit" class="fadeIn third" value="S'inscrire">
                                </div>
                            </form>
                        </div>
                </div>
                <div class="empty-column-signup"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}