{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Ticket</h1>
            <div class="formContent">
                <h3 class="active"> Critique : {{ ticket.title }} </h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">Titre:</label>
                        <input type="text" id="id_title" name="Titre" maxlength="128" required>
                    </div>
                    <div class="form-group">
                        <label for="id_description">Description:</label>
                        <textarea id="id_description" name="Description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_image">Image:</label>
                        <input type="file" id="id_image" name="Image">
                    </div>
                    <input type="submit" class="fadeIn fourth" value="Demander une critique">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
