{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Ticket</h1>
            <div class="formContent">
                <h3 class="active"> Critique : {{ ticket.title }} </h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="headline">Titre:</label>
                        <input type="text" name="headline" id="headline">
                        <label for="rating">Note:</label>
                        <div id="rating-stars">
                            <span class="star" data-rating="1">&#9733;</span>
                            <span class="star" data-rating="2">&#9733;</span>
                            <span class="star" data-rating="3">&#9733;</span>
                            <span class="star" data-rating="4">&#9733;</span>
                            <span class="star" data-rating="5">&#9733;</span>
                        </div>
                        <input type="hidden" name="rating" id="rating"> 
                        <label for="body">Description:</label>
                        <input type="text" name="body" id="body">
                    <input type="submit" class="fadeIn fourth" value="Poster une critique">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
