{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div id="formTRContent">
            <div class="ticket-column">
                <div class="fadeIn first">
                    <h1 class="active">Publier un Ticket</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div>
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                        <input type="submit" class="fadeIn second" value="Publier un ticket">
                        <div id="error-messages"></div>
                    </form>    
                </div>
            </div>
        </div>     
    </div>
</main>

{% endblock content %}