{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div id="formTRContent" class="review-column">
                <div class="fadeIn first">
                    <h1 class="active">Publier un Ticket</h1>
                    <div class="line ticket">
                        <form method="post" enctype="multipart/form-data">
                            <div>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Titre:</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.description.id_for_label }}">Description:</label>
                                {{ form.description }}
                            </div>
                            <label for="{{ form.image.id_for_label }}">Image:</label>
                            {{ form.image }}
                            {% if form.image.help_text %}
                            <p id="image-help-text" class="sr-only">{{ form.image.help_text }}</p>
                            {% endif %}
                            <div class="form-group">
                                <label for="{{ form.image_description.id_for_label }}">Description de l'image:</label>
                                {{ form.image_description }}
                            </div>
                        </div>
                            </div>
                            <input type="submit" class="fadeIn second" value="Publier un ticket">
                        </form>
                    </div>
                </div>
        </div>     
    </div>
</main>

{% endblock content %}