{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<main class="main-content">
    <div class="container">
                <div id="formReviewContent">
                    <div class="fadeIn first">
                        <div>
                            <h1 class="active">Publier un Ticket</h1>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="active">Ticket</h3>
                                <label for="title">Titre:</label>
                                <input type="text" name="title" id="title">
                                <label for="description">Description:</label>
                                <input type="text" name="description" id="description">
                                <label for="image">Image:</label>
                                <input type="file" name="image" accept="image/*">
                                {% if ticket.image %}
                                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                                {% endif %}
                                <input type="submit" class="fadeIn second" value="Publier un ticket">
                        </div>
                    </div>
                </div>        
    </div>
</main>

{% endblock content %}
