{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div id="formTRContent" class="review-column">
                <div class="fadeIn first">
                    <h1 class="active">Publier un Ticket et sa Critique</h1>
                    <form id="ticket-review-form" method="post" action="{% url 'create_ticket_review' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="line ticket">
                            <h2>Ticket</h2>
                            <div class="form-group">
                                <label for="{{ ticket_review_form.title.id_for_label }}">Titre:</label>
                                {{ ticket_review_form.title }}
                            </div>
                            <div class="form-group">
                                <label for="{{ ticket_review_form.description.id_for_label }}">Description:</label>
                                {{ ticket_review_form.description }}
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="{{ ticket_review_form.image.id_for_label }}">Image:</label>
                                    {{ ticket_review_form.image }}
                                    {% if ticket_review_form.image.help_text %}
                                        <p id="image-help-text" class="sr-only">{{ ticket_review_form.image.help_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ ticket_review_form.image_description.id_for_label }}">Description de l'image:</label>
                                {{ ticket_review_form.image_description }}
                            </div>
                        </div>
                        <div class="line ticket">
                            <h2>Critique</h2>
                            <div class="form-group">
                                <label for="{{ ticket_review_form.headline.id_for_label }}">Titre de la critique:</label>
                                {{ ticket_review_form.headline }}
                            </div>
                            <div class="form-group">
                                <label for="{{ ticket_review_form.body.id_for_label }}">Commentaire:</label>
                                {{ ticket_review_form.body }}
                            </div>
                        <!-- Étoiles de notation -->
                        <h2 class="active">Note</h2>
                        <div id="rating-stars">
                            <span class="star" data-rating="1">&#9733;</span>
                            <span class="star" data-rating="2">&#9733;</span>
                            <span class="star" data-rating="3">&#9733;</span>
                            <span class="star" data-rating="4">&#9733;</span>
                            <span class="star" data-rating="5">&#9733;</span>
                        </div>
                        <input type="hidden" name="rating" id="rating">
                        </div>
                        <!-- Bouton de soumission -->
                        <input type="submit" class="fadeIn second" value="Publier un ticket et une critique">
                    </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}