{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Confirmation de suppression du ticket</h1>
            <div class="formContent">
                <h2 class="active">Êtes-vous sûr de vouloir supprimer le ticket "{{ ticket.title }}" ?</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" name="confirm_delete" class="fadeIn second" value="Confirmer la suppression">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}