{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div id="formContent-posts">
            <div class="ticket-column">
                <div class="fadeIn first">
                        <h1 class="active">Modifier un Ticket</h1>
                        <h1 class="active">Ticket actuel :</h1>
                        <div class="line review review-ticket" style="display: block;">
                            <h3><strong> {{ ticket.title }} </strong></h3>
                            <ul>
                                <li><strong>Titre : </strong>{{ ticket.title }}</li>
                                <li><strong>Description : </strong>{{ ticket.description }}</li>
                                <li><strong>Date de création :</strong> {{ ticket.time_created }}</li>
                                {% if ticket.image %}
                                    <li><img src="{{ ticket.image.url }}" alt="{{ ticket.image.url }}" class="image-posts"></li>
                                {% endif %}
                            </ul>
                        </div>
                        <h1 class="active"> Vos modifications :</h1>
                            <form method="post" enctype="multipart/form-data" action="{% url 'update_ticket' ticket.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">Description:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.image.id_for_label }}">Image actuelle:</label>
                                    {% if ticket.image %}
                                        <img src="{{ ticket.image.url }}" alt="{{ ticket.image.url }}" class="image-posts">
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.image.id_for_label }}"> Nouvelle image:</label>
                                    {{ form.image }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.image_description.id_for_label }}">Description de l'image:</label>
                                    {{ form.image_description }}
                                </div>
                                <input type="submit" class="fadeIn second" value="Enregistrer les modifications">
                            </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}