{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Modifier Critique</h1>
            <div class="formContent">
                <form method="post" enctype="multipart/form-data" action="{% url 'update_review' review.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <!-- Étoiles de notation -->
                            <h3 class="active">Notation</h3>
                            <div id="rating-stars">
                                <span class="star" data-rating="1">&#9733;</span>
                                <span class="star" data-rating="2">&#9733;</span>
                                <span class="star" data-rating="3">&#9733;</span>
                                <span class="star" data-rating="4">&#9733;</span>
                                <span class="star" data-rating="5">&#9733;</span>
                            </div>
                    <input type="submit" class="fadeIn second" value="Enregistrer les modifications">
                    <div id="error-messages"></div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}