{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/following.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div class="form-body">
            <div class="follow-column">
                <div id="formContent">
                    <div>
                        <h2 class="active"> Utilisateurs à suivre </h2>
                        <form method="post" action="{% url 'following' %}">
                            {% csrf_token %}
                            <div>
                                <label for="follows">Nom d'utilisateur à suivre :</label>
                                <input type="text" id="follows" name="follows" placeholder="Entrez le nom d'utilisateur à suivre">
                                {% if form.follows.errors %}
                                    <p>{{ form.follows.errors }}</p>
                                {% endif %}
                            </div>
                            <input type="submit" class="fadeIn second" value="Suivre">
                        </form>
                    </div>
                </div>
            </div>    
            <div class="empty-column">
                <!-- Colonne vide -->
            </div>
            <div class="follower-column">
                <div id="formContent">
                    <h2 class="active">Utilisateurs que vous suivez</h2>
                    <ul>
                        {% for followed_user in followed_users %}
                        <li>{{ followed_user.followed_user.username }}
                        <form action="{% url 'unfollow_user' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="followed_user_id" value="{{ followed_user.id }}">
                            <input type="submit" class="fadeIn second" value="Se désabonner">
                        </form>
                        </li>
                            {% endfor %}
                    </ul>
                    <h2 class="active">Utilisateurs qui vous suivent</h2>
                    <ul>
                        {% for user_following in users_following %}
                            <li>{{ user_following.user.username }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</main>
{% endblock content %}
