{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div class="critique-grid">
            <div class="review-column">
                <div id="formContent-posts">
                    <div class="fadeIn first">
                        <h1 class="active"> Mes tickets </h1>
                        <div class="ticket_posts">
                            {% for ticket in tickets %}
                            <div class="line ticket"> <!-- Ajout de la classe "line ticket" ici -->
                                <h2 class="active" enctype="multipart/form-data"><strong> Ticket  - ID : {{ ticket.id }} </strong></h2>
                                <ul>
                                    <li><strong>Titre : </strong>{{ ticket.title }}</li>
                                    <li><strong>Description :</strong> {{ ticket.description }}</li>
                                    {% if ticket.image %}
                                    <li><img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="image-posts"></li>
                                    {% endif %}
                                    <li><strong>Date de création :</strong> {{ ticket.time_created }}</li>
                                </ul>
                                <!-- Ajouter un bouton pour créer une critique -->
                                {% if not ticket.user_has_review %}
                                <!-- Ajouter un bouton pour créer une critique seulement si le ticket n'a pas de critique -->
                                <form method="get" action="{% url 'create_review' ticket.id %}">
                                    {% csrf_token %}
                                    <input type="submit" class="fadeIn second" value="Ajouter une critique">
                                </form>
                                {% endif %}
                                <!-- Ajouter des boutons pour modifier et supprimer un ticket -->
                                <form method="get" action="{% url 'edit_ticket' ticket.id %}">
                                    {% csrf_token %}
                                    <input type="submit" class="fadeIn second" value="Modifier le ticket">
                                </form>
                                <form method="post" action="{% url 'edit_delete_ticket' ticket.id %}">
                                    {% csrf_token %}
                                    {{ delete_form.as_p }}
                                    <input type="submit" class="fadeIn second" value="Supprimer le ticket">
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>        
            <div class="review-column">
                <div id="formContent-posts">
                    <div class="fadeIn first">
                        <h1 class="active"> Mes critiques </h1>
                        <div class="review_posts">
                            {% for review in reviews %}
                            <div class="line review"> <!-- Ajout de la classe "line review" ici -->
                                <ul>
                                    <li class="title"><strong>Critique</strong></li>
                                    <li><strong>Titre :</strong> {{ review.headline }}</li>
                                    <li><strong>Note :</strong>
                                    <div class="rating">
                                        {% for _ in review.get_rating_range %}
                                            <span class="star">&#9733;</span>
                                        {% endfor %}
                                        {% for _ in review.get_complement_range %}
                                            <span class="star">&#9734;</span>
                                        {% endfor %}
                                    </div></li>
                                    <li><strong>Description :</strong>{{ review.body }}</li>
                                    <li><strong>Date de création :</strong> {{ review.time_created }}</li>
                                </ul>
                                <div class="line review review-ticket">
                                <ul>
                                    <li><strong> Critique pour le ticket "{{ review.ticket.title }}"</strong>  - ID: {{ review.ticket.id }} </li>
                                </ul>
                                <ul>
                                    <li><strong>Titre :</strong> {{ review.ticket.title }}</li>
                                    <li><strong>Demandé par :</strong> {{ review.ticket.user }}</li>
                                    <li><strong>Description :</strong> {{ review.ticket.description }}</li>
                                    {% if review.ticket.image %}
                                    <li><img src="{{ review.ticket.image.url }}" alt="{{ ticket.title }}" class="image-posts"></li>
                                    {% endif %}
                                    <li><strong>Date de création :</strong> {{ review.ticket.time_created }}</li>
                                </ul>
                                </div>
                                <!-- Ajouter des boutons pour modifier et supprimer une critique -->
                                <form method="get" action="{% url 'update_review' review.id %}">
                                    {% csrf_token %}
                                    <input type="submit" class="fadeIn fourth" value="Modifier la critique">
                                </form>
                                <form method="post" action="{% url 'edit_delete_review' review.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                    <input type="submit" class="fadeIn fourth" value="Supprimer la critique">
                                </form>
                            </div>
                            {% endfor %}
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <button id="prevPage" class="pagination-button prev-page">Précédent</button>
        <button id="nextPage" class="pagination-button next-page">Suivant</button>
    </div>
</main>
{% endblock content %}
