{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<main class="main-content">
    <div class="container">
        <div class="form-body">
            <!-- 3 colonnes -->
            <div class="register-column">
                <div id="formContent">
                    <div class="fadeIn first">
                        <h2 class="active"> Mes tickets </h2>
                        <div class="ticket_posts">
                            {% for ticket in tickets %}
                            <h3 class="active" enctype="multipart/form-data"> Ticket  - ID : {{ ticket.id }} </h3>
                            <ul>
                                <li>Titre : {{ ticket.title }}</li>
                                <li>Description : {{ ticket.description }}</li>
                                {% if ticket.image %}
                                <li>Image : <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}"></li>
                                {% endif %}
                                <li>Date de création : {{ ticket.time_created }}</li>
                            </ul>
                            <!-- Ajouter des boutons pour modifier et supprimer un ticket -->
                            <form method="get" action="{% url 'edit_ticket' ticket.id %}">
                                {% csrf_token %}
                                <input type="submit" class="fadeIn fourth" value="Modifier le ticket">
                            </form>
                            <form method="post" action="{% url 'edit_delete_ticket' ticket.id %}">
                                {% csrf_token %}
                                {{ delete_form.as_p }}
                                <input type="submit" class="fadeIn fourth" value="Supprimer le ticket">
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>        
            <div class="empty-column">
                <!-- Colonne vide -->
            </div>
            <div class="register-column">
                <div id="formContent">
                    <div class="fadeIn first">
                        <h2 class="active"> Mes critiques </h2>
                        <div class="review_posts">
                            {% for review in reviews %}
                            <h3 class="active"> Critique pour le ticket "{{ review.ticket.title }}"  - ID: {{ review.ticket.id }} </h3>
                            <ul>
                                <li>Titre : {{ review.ticket.title }}</li>
                                <li>Description : {{ review.ticket.description }}</li>
                                <li>Image : <img src="{{ review.ticket.image.url }}" alt="{{ review.ticket.title }}"></li>
                                <li>Critique demandée par : {{ review.ticket.user.username }}</li>
                            </ul>
                            <ul>
                                <li>Titre : {{ review.headline }}</li>
                                <li>Note : {{ review.rating }}</li>
                                <li>Description :{{ review.body }}</li>
                            </ul>
                            <!-- Ajouter des boutons pour modifier et supprimer une critique -->
                            
                            <form id="delete_review_form_{{ review.id }}" method="post" action="{% url 'edit_delete_review' review.id %}">
                                {% csrf_token %}
                                <input type="submit" class="fadeIn third" value="Modifier la critique">
                            </form>
                            <form method="post" action="{% url 'edit_delete_review' review.id %}">
                                {% csrf_token %}
                                {{ delete_form.as_p }}
                                <input type="submit" class="fadeIn fourth" value="Supprimer la critique">
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>    
            </div>    
        </div>  
    </div>
</main>
{% endblock content %}