<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}
{% block content %}
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Ticket</h1>
            <div class="formContent">
                <h3 class="active">Titre : {{ ticket.title }}</h3>
                <form method="post" action="{% url 'review/edit_delete_review' review.id %}">
                    {% csrf_token %}
                    {{ edit_form.as_p }}
                    <input type="submit" class="fadeIn fourth" value="Modifier le ticket">
                </form>
                <form method="post" action="{% url 'review/edit_delete_review' review.id %}">
                    {% csrf_token %}
                    {{ delete_form.as_p }}
                    <input type="submit" class="fadeIn fourth" value="Supprimer le ticket">
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}