<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}
{% block content %}
<main class="main-content">
    <div class="container">
        <div class="form-header">
            <h1 class="active">Ticket</h1>
            <div class="formContent">
                <h3 class="active"> Critique : {{ ticket.title }} </h3>
                <form method="post" action="{% url 'home_review' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Utilisateur à l'origine du ticket :</label>
                    <input type="text" id="username" name="username" autocomplete="off" required>
                    <label for="description">Description: {{ ticket.description }}</label>
                    <input type="description" name="Description" autocomplete="off" required> {{ ticket.description }}
                    {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="Ticket Image">
                    {% endif %}
                    <label for="text">Date et heure de création :{{ ticket.time_created }}</label>
                    <input type="submit" class="fadeIn fourth" value="Poster une critique">
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
