{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/ticket-review.css' %}" rel="stylesheet">
<main class="main-content">
    <div class="container">
        <div id="formContent">
            <div class="review-column">
                <div class="fadeIn first">
                    <h1 class="active">Critique</h1>
                    <h3 class="active">Critique : {{ review.title }}</h3>
                    <form method="post" action="{% url 'update_review' review.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="fadeIn second" value="Modifier la critique">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}