<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>LITRevu</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bienvenue sur LitREVU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <script src="{% static 'script-js.js' %}" defer></script>
</head>

<body>
    <header class="header" role="banner">
        <div class="navbar">
            <img src="{% static 'images/logoWBG.png' %}" alt="Logo de LITRevu." class="logo">
            <div class="username">
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
            {% endif %}
            </div>
            <nav>
                <a href="{% url 'home_review' %}">Mon Flux</a>
                <a href="{% url 'posts' %}">Mes Post</a>
                <a href="{% url 'following' %}">Mes abonnements</a>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </nav>
        </div>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
    
</body>
</html>
