<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bienvenue sur LitREVU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/styles.css" rel="stylesheet">
</head>

<body>
    <header class = "header" role="banner">
        <div class="navbar">
            <img src="../static/images/logoWBG.png" alt="Logo de LITRevu." class="logo">
            <nav>
                <a href="home.html">Accueil</a>
                <a href="add_review.html">Mes posts</a>
                <a href="logout.html">Se déconnecter</a>
            </nav>
        </div>
    </header>

{% block content %}
{% endblock %}
</body>
</html>