.register-column, .login-column {
  text-align: center;
  background-color: #fbf2e9;
  padding: 0px;
  flex: 1; /* Les colonnes vont prendre autant d'espace que possible */
}

.login-column input[type="submit"],
.register-column input[type="submit"] {
  margin: 0 auto; /* Centrer le bouton "Se connecter" horizontalement */
  margin-top: 25px;
}

.empty-column {
  padding: 20px;
}

.empty-column-signup {
  flex:  1;
}

.register-column-signup {
  background-color: #fbf2e9;
  padding: 0px;
  flex: 1; /* Les colonnes vont prendre autant d'espace que possible */
}

.register-column-signup input[type="submit"] {
  margin: 0 auto; /* Centrer le bouton "Se connecter" horizontalement */
  margin-top: 25px;
}
