/* HTML et BODY */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fbf2e9;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EF8E4E;
  color: #fff;
  padding: 10px;
  z-index: 1000; /* Assurez-vous que le header est au-dessus de tout le contenu */
}

.navbar {
  display: flex;
  align-items: center; /* Centrer verticalement les éléments */
}

.logo {
  margin-left: 20px; /* Marge à droite du logo */
  width: 50px; /* Largeur de l'image */
  height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
}

nav {
  margin-left: auto; /* Place le nav à droite */
  padding-right: 20px;
}

nav ul {
  list-style: none; /* Supprimer les puces de liste */
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block; /* Afficher les éléments en ligne */
  margin-right: 20px; /* Marge à droite entre les éléments */
}


nav a {
  color: black; /* Couleur du texte des liens */
  text-decoration: none; /* Supprime le soulignement des liens */
  margin: 0 10px; /* Marge entre les liens */
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  display:inline-block;
  margin: 10px  10px 10px 10px; 
}

nav a:hover {
  text-decoration: underline; /* Soulignement au survol des liens */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  /* Stylez votre ligne au-dessus */
  border-bottom: 1px solid #ccc; /* Ligne horizontale */
  margin-bottom: 20px; /* Marge inférieure */
  width: 100%; /* Pleine largeur */
  text-align: center; /* Centrer le contenu horizontalement */
}

.form-header h2 {
  margin-top: 0; /* Supprimer la marge supérieure par défaut du titre */
}

ol {
  list-style: none; /* Supprimer la numérotation par défaut */
  counter-reset: my-counter; /* Réinitialiser le compteur */
  padding-left: 0; /* Supprimer le décalage par défaut */
  font-size: 18,5px;
  text-align: left;
}

ol li {
  position: relative; /* Position relative pour pouvoir positionner le point */
  counter-increment: my-counter; /* Incrémenter le compteur */
  padding-left: 2em; /* Ajouter un décalage au texte des éléments de liste */
  text-align: left;
}

ol li::before {
  content: counter(my-counter) ". "; /* Ajouter le numéro avec un point */
  position: absolute; /* Position absolue pour placer le point */
  left: 0; /* Aligner le point avec le bord gauche */
}

.form-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes avec une colonne vide au milieu */
  gap: 20px; /* Espace entre les colonnes */
}

.register-column, .login-column {
  background-color: #fbf2e9;
  padding: 20px;
  flex: 1; /* Les colonnes vont prendre autant d'espace que possible */
}

.login-column input[type="submit"],
.register-column input[type="submit"] {
  margin: 0 auto; /* Centrer le bouton "Se connecter" horizontalement */
  margin-top: 25px;
}

.empty-column {
  padding: 20px;
}

.empty-column-signup {
  flex:  1;
}

.register-column-signup {
  background-color: #fbf2e9;
  padding: 20px;
  flex: 1; /* Les colonnes vont prendre autant d'espace que possible */
}

.register-column-signup input[type="submit"] {
  margin: 0 auto; /* Centrer le bouton "Se connecter" horizontalement */
  margin-top: 25px;}


.main-content {
  grid-column: 3;
  width: 100%;
  margin-top: 70px;
  flex-grow: 1;
  display: flex; /* Utiliser flexbox pour centrer le contenu verticalement */
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
}


/* BASIC */
html {
background-color: #fbf2e9;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
color: white;
display:inline-block;
text-decoration: none;
font-weight: 400;
}

h2 {
text-align: center;
font-size: 24px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
margin: 10px  10px 10px 10px; 
color: black;
}

h3 {
  text-align: left;
  font-size: 18.5px;
  font-weight: 600;
  text-transform: capitalize;
  display:inline-block;
  margin: 10px  10px 10px 10px; 
  color: black;
  }

p {
  font-size: 18.5px;
  color: black;
  }

ol {
  font-size: 18.5px;
  color: black;
  }

/* STRUCTURE */
.wrapper {
display: flex;
align-items: center;
flex-direction: column; 
justify-content: center;
width: 100%;
min-height: 100%;
padding: 20px;
}

#formContent {
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background: #fbf2e9;
width: 300px;
max-width: 700px;
position: center;
padding: 20px;
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
text-align: center;
font-size: 18.5px;
}


#formFooter {
background-color: #fbf2e9;
border-top: 1px solid #fbf2e9;
padding: 25px;
text-align: center;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}



.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Faites en sorte que chaque conteneur de formulaire prenne la largeur totale de sa colonne */
  text-align: center; /* Centrer le contenu des formulaires */
}

.form-group {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"],
input[type="email"]
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


/* TABS */
h2.inactive {
color: #cccccc;
}

h2.active {
color: #0d0d0d;
border-bottom: 2px solid  #cccccc;
}

/* FORM TYPOGRAPHY*/
.input-wrapper {
  position: relative;
  margin-bottom: 20px; /* Espacement entre chaque champ */
}

.input-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Empêche le clic sur l'étiquette */
  transition: all 0.3s ease;
  color: #888; /* Couleur de l'étiquette */
}

.input-wrapper input {
  width: 100%; /* Remplit la largeur du conteneur */
  padding-top: 20px; /* Espace pour l'étiquette */
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
  top: -20px; /* Déplace l'étiquette vers le haut */
  font-size: 18.5px; /* Réduit la taille de police de l'étiquette */
  color: #333; /* Couleur de l'étiquette lorsque le champ est en focus ou rempli */
}

input[type=button], input[type=submit], input[type=reset]  {
background-color: #EF8E4E;;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
text-transform: uppercase;
font-size: 18.5px;
-webkit-box-shadow: 0 10px 30px 0 #a4846f;
box-shadow: 0 10px 30px 0 #a4846f;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin: 5px 20px 40px 20px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
background-color: #EF8E4E;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
-moz-transform: scale(0.95);
-webkit-transform: scale(0.95);
-o-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18.5px;
  margin: 5px;
  width: 200px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus, [type=password]:focus, [type=email]:focus {
background-color: #fff;
border-bottom: 2px solid #a4846f;
}

input[type="text"][value]
input[type="email"][value],
input[type="password"][value] {
    background-color: #a4846f;
    color: white;
}


.help-text {
  display: none;  /* Hide the help text by default */
  color: black;    /* Adjust color as needed */
  font-size: 18.5px; /* Adjust font size as needed */
  margin-top: 5px; /* Adjust margin as needed */

  
}

/* CSS to show the help text when the input field is hovered over */
input:hover + .help-text {
  display: block;
}
/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
opacity:0;
-webkit-animation:fadeIn ease-in 1;
-moz-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;

-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}

.fadeIn.first {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fadeIn.second {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fadeIn.third {
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;
}

.fadeIn.fourth {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
display: block;
left: 0;
bottom: -10px;
width: 0;
height: 2px;
background-color: #a4846f;
content: "";
transition: width 0.2s;
}

.underlineHover:hover {
color: #0d0d0d;
}

.underlineHover:hover:after{
width: 100%;
}

/* OTHERS */
*:focus {
  outline: none;
} 

#logo {
margin:10px;
width:35px;
height:40px ;
}


.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn-back:hover {
  background-color: #999;
}